<script src="js/index.js"></script>
<link rel="stylesheet" type="text/css" href="./css/Index.css" />

<!--=================== HEADER AND SIDEBAR NAV MENU ===================-->
<header>
    <a href="/home">LATTICE</a>
</header>

<!--=================== ADD NEW PATIENT ===================-->
<div class="cover">
    <div class="login-container">
        <div class="email-msg" id="email-msg-box"></div>
        <div>
            <p class="form-title"></p>
            <button id="signup-btn" class="button"><a href="/addnew">ADD NEW PATIENT</a></button>
            <button id="signup-btn" class="button"><a href="/update">UPDATE PATIENT DETAIL</a></button>
            <button id="signup-btn" class="button"><a href="/delete">DELETE PATIENT DETAIL</a></button>
            <button id="signup-btn" class="button"><a href="/fetchall">FETCH ALL PATIENTS</a></button>
        </div>
    </div>
</div>


